.burrowcards {
  background-color: #272722;
  
  background-size: cover;
  text-align: center;
  margin-bottom: 50px;
  display: inline;
  margin: 10px 10px 10px 10px;
}



.homebackground {
  background-color: #fab162;
  text-align: center;
  font-size: xx-large;
}

.cardtitle {
  background-color: #272722;
  
  
  
}

.link {
  color: #fab162;
  font-size: xx-large
}


